%button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  &:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .central_shadow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(187, 194, 187, 0.5);
    padding: 10px;
  }

  .core {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(156, 161, 156, 0.8);
  }
}

%tooltip {
  position: absolute;
  z-index: 1;
  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.about_position {
  @extend %tooltip;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contacts_position {
  @extend %tooltip;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%);
}
.gallery_position {
  @extend %tooltip;
  top: 75%;
  left: 75%;
  transform: translate(-75%, -75%);
}
.lore_position {
  @extend %tooltip;
  top: 25%;
  right: 25%;
  transform: translate(-25%, -25%);
}
.ranks_position {
  @extend %tooltip;
  top: 75%;
  right: 75%;
  transform: translate(-75%, -75%);
}
.team_position {
  @extend %tooltip;
  top: 25%;
  left: 50%;
  transform: translate(-25%, -50%);
}

.about,
.contacts,
.gallery,
.lore,
.ranks,
.team {
  @extend %button;
  opacity: 0;
  animation: pulse 2s infinite;
  transition: all 0.3s ease-in-out;

  &.appear {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.tooltip {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  display: none;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
