%text {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.05px;
  line-height: 23px;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

.wrapper {
  font-size: 16px;

  @extend %text;
  > p {
    margin-bottom: 8px;
  }
}

.sub_title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 12px;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 10px;
  @extend %text;
}
