.wrapper {
  background-color: transparent;
  position: absolute;
  inset: 0;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 110px;
  margin-bottom: 40px;
}

.content_container {
  background-color: transparent;
  width: 100%;
  max-width: 1040px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 14px;
}

.cardRank {
  position: relative;
  width: 490px;
  max-height: 750px;
  padding: 10px;
  border: 1px solid;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  h2 {
    font-size: 32px;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    padding: 10px 0;
  }
  &:hover .image img {
    transition: all 0.3s ease-in-out;
    transform: scale(1.25);
  }
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 14px;
  flex: 1;
  > {
    img {
      transition: all 0.3s ease-in-out;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.info {
  position: absolute;
  bottom: 60px;
  right: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button_more {
  width: 100%;
  background-color: black;
  color: white;
  padding: 16px 24px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
  transition: all 0.5s ease-in-out;
  &:hover {
    transition: all 0.5s ease-in-out;
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
  }
}

.description_rank {
  position: relative;
  overflow: hidden;
  height: calc(100% - 60px);
  overflow-y: scroll;
}

.button_hide {
  width: 95%;
  background-color: black;
  padding: 16px 0;
  margin: 0 10px;
  border-radius: 14px;
  position: absolute;
  bottom: 10px;
  right: 1px;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
  transition: all 0.5s ease-in-out;
  &:hover {
    transition: all 0.5s ease-in-out;
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(163, 163, 163, 0.2);
  }
}
