// FLEX

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

// POSITIONS

.absolute {
  position: absolute;
}

.bottom-0 {
  bottom: 0;
}

// Z-INDEX
.z-2 {
  z-index: 10;
}

.z-10 {
  z-index: 10;
}
