.ml-auto {
  margin-left: auto;
}

// MARGIN_RIGHT

.mr-4 {
  margin-right: 4px;
}

// MARGIN_LEFT

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-20 {
  margin-left: 20px;
}

// MARGIN_BOTTOM

.mb-2 {
  margin-bottom: 2px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

// PADDING
.padding-40-50 {
  padding: 40px 50px;
}
