$card-height: 400px;

.wrapper {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.container {
  height: $card-height;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

@media (max-width: 1000px) {
  .wrapper {
    padding: 40px 20px;
  }
}
