.container {
  background: lightblue;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.deck {
  position: absolute;
  width: 400px;
  height: 400px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck > div {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  max-height: 285px;
  will-change: transform;
  border-radius: 10px;
}
