$card-width: 80px;
$card-margin: 10px;

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  &:hover {
    box-shadow: 0px 10px 30px -5px rgba(255, 255, 255, 0.8);
  }
  & > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    & > .description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      width: 350px;
      opacity: 0;
      transform: translateY(30px);
      transition-delay: 0.3s;
      transition: all 0.3s ease;
      text-shadow: 1px 1px 2px black;
      margin-bottom: 20px;
      p {
        color: #fff;
        padding-top: 5px;
      }
      h4 {
        text-transform: uppercase;
        text-shadow: 1px 1px 2px black;
      }
    }
  }
}

.input {
  display: none;
  &:checked + .label {
    width: 400px;
    & .description {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
  }
}
